<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center main-body">
        
        <h1>Entered city not found !</h1>
        <form action="/failure" method="POST">
            <button class="btn m-3 btn-lg btn-danger">Try Another</button>

        </form>
        
    </div>
</body>
</html>